# Node.js dependencies
node_modules/
*/node_modules/
**/node_modules/

# Next.js build output
.next/
*/.next/
**/.next/
*/dist/
*/out/

# Large binary files
*.node
**/*.node

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Hardhat
cache/
artifacts/

# Coverage
coverage/
coverage.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Build files
build/
dist/

# Hardhat files
typechain/
typechain-types/

# Local Netlify folder
.netlify
